/*
Spotify color palette examples
https://www.pinterest.com/pin/181199584990764527/
https://i.pinimg.com/736x/a8/b0/e2/a8b0e29ba5564857e87933bc00a8af5b.jpg
https://developer.spotify.com/documentation/general/design-and-branding/#using-our-colors
Green: #1DB954
White: #FFFFFF
Black: #191414
 */

/* General */

header {
    padding: 0px;
    background: mediumseagreen;
    color: black;
    font-size: 20px;
}


/* Classes */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
