/*
Spotify color palette examples
https://www.pinterest.com/pin/181199584990764527/
https://i.pinimg.com/736x/a8/b0/e2/a8b0e29ba5564857e87933bc00a8af5b.jpg
https://developer.spotify.com/documentation/general/design-and-branding/#using-our-colors
Green: #1DB954
White: #FFFFFF
Black: #191414
 */

/* General */

* {
    font-family: "Arial";
}

header {
    padding: 0px;
    background: #191414;
    color: #FFFFFF;
    font-size: 20px;
}

button, input {
    cursor: pointer;
}

/* Classes */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_btn {
    width: 100px;
    height: 50px;
    background: #1DB954;
    color: #FFFFFF;
    font-size: 20px;
    border-style: hidden;;
    border-radius: 30px;
}

.header_padding {
    padding: 0 20px;
}

.left_header {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.login_form {

}

.registration_form {

}

.right_header {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

/* By ID */

/*
See base.html <header>
I have two divs: the one with the image and heading text, which I wanted to be on the left of the header (.left)
and the login/register buttons (will add an "account" button maybe) on the right side of the header (.right)
Both should be vertically centered

Used flex box to try and have them situate on the same line (current configuration is best I got)
Tried:
float: left & float:right (breaks header completely)
display: flex (puts them on top of eachother)
surrounding both divs in another div (didn't affect anything)
 */

