<!--
Authentication page to verify user via SMS 2-FA
Allows the user to enter the code they received at their phone number
-->

{% extends "base.html" %}

{% block title %}Authenticate | Spotify 2-FA{% endblock %}

{% block content %}

<!-- Accepts authentication code -->
<p>Enter the 6-digit authentication code that was texted to your account's mobile number.</p>
<form method="post">
    <input type="text" name="code_textbox" minlength="6" maxlength="6" autocomplete="off">
    <input type="submit" id="submit_code">
</form>

<!-- Prints error if authentication failed -->
{% if error %}

<p>Authentication failed. Re-try, or click to resend the code.</p>
<button onclick="resend()" type="submit" id="resend_code">Resend Code</button>
<p id="error-message-resend" style="display: none;"></p>

{% endif %}

<script>
    function resend() {
        let error = document.getElementById("error-message-resend")
        fetch("http://localhost:8080/resend-code", {
            method: "POST",
        }).then(response => {
        response.json().then(data => {  // parse JSON
                const success = data.success
                const errorMessage = data.error
                if (success === false) {  // redirect if login was successful
                    error.style.display = "";
                    error.innerHTML = errorMessage
                }
            })
        }).catch(error => {
            error.style.display = "";
            error.innerHTML = "Unable to resend code"
        })
    }
</script>
{% endblock %}
