<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Conceptual 2-FA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body>
<!-- Some sort of header here -->

<h1>Spotify Conceptual 2-FA</h1>

{% block content %}

<a href="http://localhost:8080/login"><button>Login</button></a>
<a href="http://localhost:8080/register"><button>Register</button></a>

{% endblock %}
</body>
</html>