<!--
Base HTML file with header displayed across pages
Contains basic information about the program
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Spotify Conceptual 2-FA{% endblock %}</title>
    <!-- Links to JavaScript int-tel-input plugin and local CSS stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <link rel="stylesheet" href="/static/stylesheet.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body>

<!-- Page Header -->

<header>
    <div class="left_header">
        <img src="/static/assets/Spotify_Icon_RGB_Green.png" width="70px" class="header_padding">
        <h1 class="header_padding">Spotify Conceptual 2-FA</h1>
    </div>

    <div class="right_header">
        <a href="http://localhost:8080/login" class="header_padding"><button class="header_btn">Login</button></a>
        <a href="http://localhost:8080/register" class="header_padding"><button class="header_btn">Register</button></a>
        <!-- Add account button with person clipart -->
    </div>
</header>

<!-- Extends HTML template -->
{% block content %}

{% endblock %}

</body>
</html>