<!-- Page for users to login to their account -->

{% extends "base.html" %}

{% block title %}Login | Spotify 2-FA{% endblock %}

{% block content %}

<p>The login page</p>

<form id="form">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="login_submit" id="login_submit" value="Login">
</form>

<div class="alert alert-info" style="display: none;"></div>
<div class="alert alert-error" style="display: none;"></div>


{% block javascript %}
<script src="{{url_for('static', filename='login.js')}}"> </script>
{% endblock %}

{% endblock %}