{% extends "base.html" %}
{% block content %}

<p>The login page</p>

<form id="form">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="tel" name="mobile_number" id="mobile_number" autocomplete="off">
    <input type="submit" name="login_submit" id="login_submit" value="Login">
</form>

<div class="alert alert-info" style="display: none;"></div>
<div class="alert alert-error" style="display: none;"></div>


{% block javascript %}
<script src="{{url_for('static', filename='form.js')}}"> </script>
{% endblock %}

{% endblock %}