{% extends "base.html" %}

{% block title %}Register | Spotify 2-FA{% endblock %}

{% block content %}

<p>The registration page</p>

<form id="form">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="tel" name="mobile_number" id="mobile_number" autocomplete="off">
    <input type="submit" name="register_submit" id="register_submit" value="Register">
</form>

<div class="alert alert-info" style="display: none;"></div>
<div class="alert alert-error" style="display: none;"></div>


{% block javascript %}
<script src="{{url_for('static', filename='register.js')}}"> </script>
{% endblock %}

{% endblock %}